<!DOCTYPE html>
<html xmlns:th=" http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe wydarzenie</title>
</head>
<body>
<center><h1 th:text="${eventInformation}"></h1></center>

<form th:if="${eventInformation} == null" th:object="${eventForm}" action="/eventhost" method="post">
    <p th:if="${#fields.hasErrors('eventTitle')}" th:errors="*{eventTitle}"></p>
    Nazwa wydarzenia <input type="text" th:field="*{eventTitle}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventStartDate')}" th:errors="*{eventStartDate}"></p>
    Data rozpoczęcia <input type="text" th:field="*{eventStartDate}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventEndDate')}" th:errors="*{eventEndDate}"></p>
    Data zakończenia <input type="text" th:field="*{eventEndDate}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventCountry')}" th:errors="*{eventCountry}"></p>
    Kraj <input type="text" th:field="*{eventCountry}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventAddress')}" th:errors="*{eventAddress}"></p>
    Adres <input type="text" th:field="*{eventAddress}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventCity')}" th:errors="*{eventCity}"></p>
    Miasto <input type="text" th:field="*{eventCity}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventPostCode')}" th:errors="*{eventPostCode}"></p>
    Kod pocztowy <input type="text" th:field="*{eventPostCode}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventDescription')}" th:errors="*{eventDescription}"></p>
    Opis wydarzenia <input type="text" th:field="*{eventDescription}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventCategory')}" th:errors="*{eventCategory}"></p>
    Kategoria <input type="text" th:field="*{eventCategory}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventParticipantNumber')}" th:errors="*{eventParticipantNumber}"></p>
    Liczba uczestników <input type="text" th:field="*{eventParticipantNumber}"/><br/><br/>
    <p th:if="${#fields.hasErrors('eventPrice')}" th:errors="*{eventPrice}"></p>
    Cena <input type="text" th:field="*{eventPrice}"/><br/><br/>
    <input type="submit" value="Dodaj"/>
</form>
</body>
</html>