<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe wydarzenie</title>
</head>
<body>
<center><h1 th:text="${error}"></h1></center>
<div th:replace = "menuTemplate :: menu"></div>
<p th:text="${info}">tekst informacji</p>

<br/>

<div style="width: 100%; height: 100%;">
    <form th:object="${eventForm}" th:action="@{/eventhost}" method="post">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <input placeholder="Nazwa wydarzenia" type="text" th:field="*{title}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
        <input style="width: 240px;" placeholder="Data rozpoczecia (format yyyy-MM-dd)" type="text" th:field="*{startDate}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
        <input style="width: 240px;" placeholder="Data zakończenia (format yyyy-MM-dd)" type="text" th:field="*{endDate}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></p>
        <input style="width: 220px;" placeholder="Czas rozpoczęcia (format HH:mm)" type="text" th:field="*{startTime}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></p>
        <input style="width: 220px;" placeholder="Czas zakończenia (format HH:mm)" type="text" th:field="*{endTime}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
        <input placeholder="Kraj" type="text" th:field="*{country}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        <input placeholder="Adres" type="text" th:field="*{location}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
        <input placeholder="Miasto" type="text" th:field="*{city}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></p>
        <input style="width: 190px;" placeholder="Kod pocztowy (format 00-000)" type="text" th:field="*{postCode}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        <input style="width: 240px; height: 300px;" placeholder="Opis (maks. 500 znaków)" type="text" th:field="*{description}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
        <input placeholder="Kategoria" type="text" th:field="*{category}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('participantNumber')}" th:errors="*{participantNumber}"></p>
        <input placeholder="Ilość uczestników" type="text" th:field="*{participantNumber}">
        <br/><br/>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        <input placeholder="Cena" type="text" th:field="*{price}">
        <br/><br/>
        <input type="submit" value="Dodaj wydarzenie"/>
    </form>
</div>
</body>
</html>