<!DOCTYPE html>
<html xmlns:th=" http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    Witaj na stronie głównej!

    <div th:if="${@sessionInfo.isLogged()} == true">
        <p th:text="|${@sessionInfo.getUsername()} is logged in|">info o zalogowaniu</p>
        <a href="templates/loginTemplate.html" th:href="@{/logout}">Log out here</a>
    </div>

    <div th:if="${@sessionInfo.isLogged()} == false">
        <a href="templates/loginTemplate.html" th:href="@{/login}">Log in here</a>
    </div>
</body>
</html>