<!DOCTYPE html>
<html xmlns:th=" http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${info}">tekst informacji</p>
<br />
<form th:object="${registerForm}" th:action="@{/register}" method="post">
    <div style="color:red;" th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" ></div>
    Name: <input type="text"  th:field="*{name}" />
    <br />
    <div style="color:red;" th:if="${#fields.hasErrors('surname')}"  th:errors="*{surname}"></div>
    Surname: <input type="text"  th:field="*{surname}" />
    <br />
    <div style="color:red;" th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"></div>
    Username: <input type="text" th:field="*{username}"/>
    <br />
    <div style="color:red;" th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></div>
    Password: <input type="password"  th:field="*{password}" />
    <br />
    <div style="color:grey;" th:if="${#fields.hasErrors('phone')}"  th:errors="*{phone}"></div>
    Phone: <input type="text"  th:field="*{phone}" />
    <br />
    <div style="color:red;" th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></div>
    Email: <input type="email"  th:field="*{email}" />
    <br />
    <input type="submit" value="Register"/>
</form>
</body>
</html>